#section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.setting_labels {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.setting_cont {
    width: 50%;
}
.settingItem {
    margin: 0 auto;
}

