#section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.setting_labels {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.setting_label {
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
}

.settings_cont {
    width: 50%;
}

.setting_cont {
    margin: 0 auto;
}

.setting_container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}